<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <style>
        body {
            background-image: url("../static/images/bg.jfif")
        }
        .white {
            background-color: rgba(255, 255, 255, 0.5)
        }
        .nav {
            background-color: rgba(255, 216, 0, 0.5)
        }
    </style>
    <link rel="stylesheet" href="../static/content/bootstrap.css" />
    <script src="../static/scripts/jquery-1.10.2.js"></script>
    <script src="../static/scripts/bootstrap.js"></script>
    {% if title %}
    <title>KyvYang的个人主页 - {{title}}</title>
    {% else %}
    <title>KyvYang的个人主页</title>
    {% endif %}
</head>
<body>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">自我介绍</a></li>
        <li role="presentation"><a href="/github">我的GitHub</a></li>
        <li role="presentation"><a href="/bilibili">我的bilibili</a></li>
    </ul>
    <div class="white">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>